[submodule "soccer/external/cabsl"]
	path = soccer/external/cabsl
	url = https://github.com/bhuman/cabsl
[submodule "soccer/external/entt"]
	path = soccer/external/entt
	url = https://github.com/skypjack/entt.git
[submodule "soccer/external/ELFIO"]
	path = soccer/external/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "soccer/external/GSL"]
	path = soccer/external/GSL
	url = https://github.com/microsoft/GSL.git
